.skills-grid{
    padding-left: 15%;
}
body{
    margin: 0;
    height: 100%;
    background-image :url('https://images.wallpaperscraft.com/image/photographer_camera_dark_133781_1920x1080.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
hr{
    background-color: black;
}

.fa-bootstrap{
    color: blueviolet;
}
#mytext{
    padding-left: 30px;
    margin-right: 0px;
    font-family: cursive;
    color: wheat;
}
h3{
    color: wheat;
}
.wrapper{
    color: peachpuff;
    min-height: 20em;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 10em;
}
html {
    scroll-behavior: smooth;
}
.display-4{
    font-family: cursive;
    color: rgb(223, 221, 235);
    font-size: 40px;
    text-align: center;
}
.jumbotron{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}
#myphoto{

    border-radius: 100%;
    padding : 40px;
    margin-left: 0px;
    margin-left: 1%;
    float: left;
    width:35%;
    height: 35%;

}
.wrappertwo{
    padding-left: 45%;
    padding-top: 5%;
    padding-bottom: 5%;

}


.fa-facebook{
    background: white;
    border-radius:1000% ;
    font-size: 50px;
    margin-right:2% ;

}
.fa-linkedin-in{
    background: rgba(0,0,00,0);
    padding-top: 0px;
    font-size: 50px;


}
.Project-header{
    text-align: center;
    align-content: center;
    font-family: cursive;
    color: antiquewhite;
    font-size: 40px;
}
.fa:hover{
    background:transparent;
    font-size: 16px;
    font-weight: 400;
    transition: 0.6s;
    text-decoration: none;


}
.cp{
    font-family: cursive;
    color: antiquewhite;
    font-size: 20px;
}
.skill-icon{
    padding: 5%;
    align-content: center;
    font-size: 750%;
}
.cpheader{
    font-family: cursive;
    color: rgb(223, 221, 235);
    font-size: 20px;
    font-weight: 400;


}


.fa-node{
    color: #3c873a;

}
.fa-java{
    color: #5382a1;

}
.fa-css3{
    color: #2965f1;

}
.fa-html5{
    color: #e34c26;
    padding-right: 10%;

}
.fa-js-square{
    color: 	#F0DB4F;

}
.fa-cuttlefish{
    color: #5E97D0;

}
.work{
    color:lightcyan;
    font-size: 15px;
}
#Project{
    padding-bottom: 30%;
}
.cateina{
    color:burlywood;

}
li{
    padding: 10px;
    font-size: 20px;
}
a{
    color: rgb(152, 189, 194);
}
section{
    height: 100vh;
}
.skills-grid{
    height: 60%;
}
#greet{
    width: 16ch;
    color:wheat;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;


    font-size: 60px;
    margin-top: 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes typing {
    from { width: 0 }

}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:white }
}
#role{
    font-size: 25px;
}
.button {
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid white;
    color: #f08f8f;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

nav{
    margin-bottom: 50px;
    padding: 0px;
    position: fixed;
    width: 100%;
    line-height: 40px;


}

nav ul {
    float : right;
    float: top;
    margin:0px;
    padding-right: 4px;

}
nav ul li{
    display: inline-flex;
    padding: 16px 32px;
}
nav ul li a {
    padding: 0.5em;

    color:white;
    text-decoration: wavy;
    font-size: 16px;

}
span a:hover {
    color: greenyellow;
    transition: 0.6s;
}
.cp li a:hover{
    background:transparent;
    color:greenyellow;
    font-size: 24px;
    font-weight: 400;
    transition: 0.6s;
}
li a:hover{
    background:transparent;
    color:greenyellow;

    font-weight: 400;
    transition: 0.6s;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn-primary{
    padding-left: 10%;
}
.button:hover span {
    padding-right: 25px;
}
.fa-instagram{
    background: rgba(0,0,00,0);
    padding-top: 0px;
    padding-left: 2%;
    font-size: 55px;
}
#Projects{
    border: rgba(0,0,0,0.5);

    background: rgba(0,0,0,0.7);
}
#contact{
    border: rgba(0,0,0,0.5);

    background: rgba(0,0,0,0.7);
}
.button:hover span:after {
    opacity: 1;
    right: 0;}
.info{

   padding-left: 5%;
    padding-bottom: 0%;
    margin-top: 100px;
    color: bisque;
}
.inside{
    font-size: 20px;
}
.fab:hover {
    transition: 0.6s;
    opacity: 0.7;
}
b{
    color: greenyellow;
}
.connect{
    color: bisque;
    padding-left: 10%;
}
.info h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color:rgb(211, 236, 201);

}
.form-group{
    color: rgb(196, 233, 233);
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
